<template>
  <div>
    <div v-if="error">
      <h1>{{ error }}</h1>
    </div>
    <div v-else-if="isLoading">
      <h2>Generating Quiz..</h2>
    </div>
    <div v-else>
      <p v-html="questions[questionIndex].question"></p>
      <div class="answer-buttons-container">
        <button
          class="answer-buttons"
          v-for="answer in quizAnswers"
          :key="answer"
          :value="answer"
          @click="buttonClick"
          v-html="answer"
        ></button>
      </div>
    </div>
  </div>
</template>

<script>
import { mapMutations, mapActions, mapGetters, mapState } from 'vuex';

export default {
  name: 'Questions',

  /*Fetches state values and getters defined in index.js */
  computed: {
    ...mapState([
      'questions',
      'questionIndex',
      'numberOfQuestions',
      'error',
      'isLoading'
    ]),

    ...mapGetters(['quizAnswers'])
  },

  /* When the component is created the quiz categories are fetched from the Trivia API */
  created() {
    this.getQuizQuestions();
  },

  /**
   *Fetches mutations and actions from index.js
   *Creates functions for buttons
   */
  methods: {
    ...mapMutations(['setQuestionIndex', 'setAnswer']),
    ...mapActions(['getQuizQuestions', 'nextQuestion']),

    /**
     * Function for when the user presses an answer button
     * The chosen answer is passsed as a parameter
     * The function checks if the ammount of questions left in the
     * ongoing quiz is higher than the current question's index.
     * If this is the case the nextQuestion function from index.js is called.
     *
     * If there are no more questions left in the ongiong quiz, the user is pushed to the result screen
     */
    buttonClick(answer) {
      this.setAnswer(answer.target.value);

      if (this.numberOfQuestions - 1 > this.questionIndex) {
        this.nextQuestion();
      } else {
        this.setQuestionIndex(0);
        this.$router.push('/ResultScreen');
      }
    }
  }
};
</script>

<style>
.answer-buttons-container {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  margin-top: 40px;
}

.answer-buttons {
  height: 45px;
  margin-bottom: 10px;
  width: 420px;
  border-radius: 25px;
  font-size: 18px;
}
</style>
