<template>
  <div class="question-card">
    <Questions></Questions>
  </div>
</template>

<script>
/* Imports the Question component */
import Questions from './Questions.vue';

import { mapState } from 'vuex';

export default {
  name: 'QuestionScreen',

  /* Fetches components to be used */
  components: {
    Questions
  },

  /* Fetches state values */
  computed: {
    ...mapState(['user', 'questions', 'questionIndex'])
  }
};
</script>

<style>
.question-card {
  background-color: #09070ab7;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  font-size: 22px;
  margin: 0px 91px;
  margin-top: 50px;
  padding: 20px 50px;
  border-radius: 4px;
  height: 25rem;
  width: 40rem;

  -webkit-box-shadow: 0px 4px 9px -3px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 4px 9px -3px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 4px 9px -3px rgba(0, 0, 0, 0.75);
}
</style>
