<template>
  <div class="result-card">
    <div v-if="questions.length" class="resultinos">
      <h1 class="rainbow-text" id="hithere">
        Amazing! You scored {{ quizScore }} out of {{ maxScore }} points!
      </h1>
      <Results
        v-for="question in questions"
        :key="question.question"
        :question="question"
      ></Results>
      <div class="result-button-container">
        <div class="result-buttons">
          <button
            class="result-button"
            id="play-again"
            @click="playAgainClicked"
          >
            Play Again!
          </button>
          <button class="result-button" id="home-button" @click="homeClicked">
            Home
          </button>
        </div>
      </div>
    </div>
    <div v-else class="resultinos-error">
      <button id="home-button" @click="homeClicked" :text="'Home'" />
    </div>
  </div>
</template>

<script>
/* Imports the Results component and the userInfo constant containting async methdods */
import Results from './Results.vue';
import { userInfo } from '../../api/userApi.js';
import { mapState, mapGetters } from 'vuex';

export default {
  name: 'ResultScreen',

  /* Sets the quizScore to 0 for the quiz */
  data() {
    return {
      quizScore: 0
    };
  },

  /* Fetches components to be used */
  components: {
    Results
  },

  /* Fetches state values and getters */
  computed: {
    ...mapState(['questions', 'user']),
    ...mapGetters(['maxScore'])
  },

  /**
   * When the component is created the score is updated to be equal to all the coorectly answered questions times 10
   * The method highScoreCheck is then called to see if the achieved score is the highest score yet for the user
   */
  created() {
    this.quizScore = this.questions.reduce((quizScore, q) => {
      return q.answer === q.correct_answer ? quizScore + 10 : quizScore + 0;
    }, 0);

    this.highscoreCheck();
  },

  /* Creates functions for buttons and a function to check highscore */
  methods: {
    /**
     * When the "Play Again" button is cliced the user is taken to the QuestionScreen
     * the quiz restarts with the same parameters"
     */
    playAgainClicked() {
      this.$router.push('/QuestionScreen');
    },

    /* When the "Home" button is cliced the user is taken to the StartScreen */
    homeClicked() {
      this.$router.push('/');
    },
    
    /**
     * When the highscoreCheck method is called it checks if the current users highscore is lower than the achieved score
     * If this is the case the updateHighscore method is called from userApi.js and the highscore is updated
     */
    async highscoreCheck() {
      if (this.user.highScore < this.quizScore) {
        await userInfo.updateHighscore(this.user.id, this.quizScore);
      }
    }
  }
};
</script>

<style>
body {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #f2f2f2;
  box-sizing: border-box;
}

.result-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 23px;
}

.rainbow-text {
  background-image: linear-gradient(
    to left,
    violet,
    indigo,
    blue,
    green,
    yellow,
    orange,
    red
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#hithere {
  animation: hithere 1.5s ease;
  animation-iteration-count: 1s;
}
@keyframes hithere {
  30% {
    transform: scale(1);
  }
  40%,
  60% {
    transform: rotate(-10deg) scale(1.1);
  }
  50% {
    transform: rotate(10deg) scale(1.1);
  }
  70% {
    transform: rotate(0deg) scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.result-buttons {
  display: flex;
  margin-left: 34px;
}

.result-button {
  border-radius: 10px;
  font-weight: bold;
  background: rgb(59 144 120);
  color: #e2e2e2;
}

#play-again {
  height: 50px;
  width: 69px;
  margin-right: 25px;
}

#home-button {
  height: 50px;
  width: 69px;
  margin-left: 25px;
}
</style>
