<template>
  <div>
    <p class="question" v-html="question.question"></p>

    <ul class="quiz-results">
      <li
        class="question-result"
        v-for="answer in quizAnswers"
        :key="answer"
        :class="{
          'correct-answer': answer === question.correct_answer,
          'wrong-answer':
            answer === question.answer && answer !== question.correct_answer
              ? true
              : false
        }"
      >
        {{ answer }}
      </li>
    </ul>
  </div>
</template>

<script>

/* The component is exported to be used in the ResultScreen component */
export default {
  name: 'Results',

  props: {
    question: {
      type: Object,
      required: true
    }
  },

/* Makes a complete array containing the correct and incorrect answers */
  data() {
    return {
      quizAnswers: [
        this.question.correct_answer,
        ...this.question.incorrect_answers
      ]
    };
  }
};
</script>

<style scoped>
.question {
  font-size: 20px;
}

.quiz-results {
  font-size: 17px;
  margin-bottom: 36px;
}

.question-result {
  margin-bottom: 10px;
}

.correct-answer {
  color: green;
}

.wrong-answer {
  color: salmon;
}
</style>
