<template>
  <div id="app">
    <router-view />
  </div>
</template>

<style>

#app {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
}

button:hover {
    filter: brightness(90%);
}

</style>

